<%- include ("partials/header.ejs") %>
<%- include ("partials/navbar.ejs")%>

<div class="container">
    <hr>
    <h2>Laboratórios disponíveis</h2>
    <br>
    <hr>
    
   
    <table class="table table-bordered">
        <thead>
            <tr>
                
                <th>Nome</th>
                <th>Cadeiras</th>
                <th>Status</th>
                <th>Responsável</th>
                
            </tr>
        </thead>
        <% labs.forEach(one=>{ %>
    <tbody> 
        
            
            <th><%= one.name %></th>
            <th><%= one.seats %></th>
            <th><%= one.status %></th>
            <th><%= one.tutor %></th>
            
    
    </tbody>
    <% }) %>   
    </table>
</div>

<%- include ("partials/footer.ejs") %>