<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2> Alteração dados do Laboratório</h2>
        </div>
        <div class="card-body">
            <form method="post" action="/labs/update">
                <input type="hidden" name="id" value="<%= lab.id %>">
                <input class="form-control mb-3" type="text" name="name" placeholder="<%= lab.name %>">
                <input class="form-control mb-3 " type="number" name="seats" placeholder="<%= lab.seats %>">
                <button class="btn btn-success btn-block mb-3">Alterar</button>
            </form>
        </div>

    </div>
</div>
<%- include ("../../partials/footer.ejs") %>