<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs")%>

<div class="container">
    <hr>
    <h2>Laboratórios disponíveis</h2>
    <br>
    <a class="btn btn-success" href="/admin/labs/create">Cadastrar Novo Laboratório</a>
    <hr>
    
   
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Status</th>
                <th>Nome</th>
                <th>Cadeiras</th>
                <th>Ações</th>
            </tr>
        </thead>
        <% labs.forEach(one=>{ %>
    <tbody> 
        
            <th><%= one.status %></th>
            <th><%= one.name %></th>
            <th><%= one.seats %></th>
            <th>
            <a class="btn btn-warning" href="/admin/labs/edit/<%= one.id %>" >Editar</a>
            <form method="POST" action="/labs/delete" style="display: inline;" onsubmit="sure(event,this)">
            <input type="hidden" name="id" value="<%= one.id %>">
            <button class="btn btn-danger">Remover</button>
            </form>
            <form method="POST" action="/labs/reserve/release/<%= one.id %>" style="display: inline;">
                <input type="hidden" name="status" value="Disponível">
                <input type="hidden" name="tutor" value="">
                <button class="btn btn-success">Liberar Reserva</button>
                </form>
            </th>
    
    </tbody>
    <% }) %>   
    </table>
</div>

<%- include ("../../partials/footer.ejs") %>

<script>
    function sure(event,form){
        event.preventDefault();
        var confirmacao = confirm("Você deseja excluir esse Laboratório?") 
        if(confirmacao){
            form.submit();
        }

    }

</script>